.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background: rgba(65, 182, 250, 0.88);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 40, 92);
    font-family: "Red Hat Display", sans-serif;
}

#close-dialog{
    background-color: rgb(0, 71, 138);
    border: none;
    padding: 2%;
    color: white;
    border-radius: 10px;
}

#close-dialog:hover{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 71, 138);
}

#close-dialog:active{
    transform: scale(0.92);
}