@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Exa:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sixtyfour&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Tomorrow", Consolas, sans-serif;
}

body{
    background: #75d1ff;
    background: -webkit-linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    background: -moz-linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    background: linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    min-height: 100vh;
    overflow-y: hidden;
}

.container{
    display: flex;
    flex-direction: column;
}