@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Exa:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sixtyfour&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Tomorrow", Consolas, sans-serif;
}

:root{
    --scroll-color-1: rgb(32, 84, 255);
    --scroll-color-2:  rgba(117, 193, 255, 1);
}

body{
    background: #75d1ff;
    background: -webkit-linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    background: -moz-linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    background: linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    min-height: 100vh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 7.5px 0;
}

.scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--scroll-color-1), var(--scroll-color-2));
    border-radius: 10px;
    box-shadow: 0 0 20px var(--scroll-color-1), 0 0 40px var(--scroll-color-2);
    animation: neonPulse 2s ease-in-out infinite alternate;
    min-height: 20px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 30px var(--scroll-color-1), 0 0 60px var(--scroll-color-2);
    animation: neonPulse 2s ease-in-out infinite alternate;
}

.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

@keyframes neonPulse {
    from { 
        box-shadow: 0 0 20px var(--scroll-color-1), 0 0 40px var(--scroll-color-2);
    }
    to { 
        box-shadow: 0 0 30px var(--scroll-color-1), 0 0 60px var(--scroll-color-2);
    }
}

@media(max-width: 1000px) {
    body{
        font-size: 0.9em;
    }
}