*{
    font-family: "Tomorrow", Consolas, sans-serif;
}

body{
    background: #75d1ff;
    background: -webkit-linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    background: -moz-linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    background: linear-gradient(187deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgb(0, 132, 255) 100%);
    min-height: 100vh;
    overflow-y: hidden;
}

.container{
    display: flex;
    flex-direction: column;
}