.dashboard-grid{
    padding: 1.2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

.weather-main-content{
    width: 62vw;
    margin-top: 30px;
}

.weather-main-content > div > h2{
    font-family: "Audiowide", sans-serif;
    color: #0d1247;
    font-size: 1.75rem;
}

.current-weather{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7.5vw;
    background: #75d1ff;
    background: -webkit-linear-gradient(202deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgba(252, 215, 28, 1) 100%);
    background: -moz-linear-gradient(202deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgba(252, 215, 28, 1) 100%);
    background: linear-gradient(202deg, rgba(117, 209, 255, 1) 0%, rgba(57, 119, 219, 0.75) 50%, rgba(252, 215, 28, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75D1FF", endColorstr="#FCD71C", GradientType=0);
    padding: 2.5%;
    border-radius: 20px;
    color: #333;
}

.location-name{
    font-family: "Audiowide", sans-serif;
    color: rgb(0, 28, 88);
}

.weather-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.temperature{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Sixtyfour", sans-serif;
    color: rgb(0, 28, 88);
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.weather-condition{
    font-size: 1.2rem;
    margin-top: -12px;
}

.highlights-cards{
    background: #0f7ea3;
    background: -webkit-linear-gradient(34deg, rgba(15, 126, 163, 1) 0%, rgba(29, 178, 253, 1) 50%, rgba(252, 197, 69, 1) 100%);
    background: -moz-linear-gradient(34deg, rgba(15, 126, 163, 1) 0%, rgba(29, 178, 253, 1) 50%, rgba(252, 197, 69, 1) 100%);
    background: linear-gradient(34deg, rgba(15, 126, 163, 1) 0%, rgba(29, 178, 253, 1) 50%, rgba(252, 197, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0F7EA3", endColorstr="#FCC545", GradientType=0);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.highlight-card{
    padding: 2.5%;
    text-align: center;
}

.card-title{
    color: rgb(0, 28, 88);
    font-family: "Audiowide", sans-serif;
    font-size: 1.2rem;
}

.highlight-card p{
    font-size: 1.1rem;
    color: #333;
}

.sun-times{
    display: flex;
    justify-content: space-around;
}

.sun-times > div{
    padding: 2.5%;
    text-align: center;
    border-radius: 15px;
    width: 20vw;
}

.sun-times > div h3{
    color: rgb(0, 28, 88);
    font-family: "Audiowide", sans-serif;
    font-size: 1.5rem;
}

.sun-times > div p{
    font-size: 1.2rem;
    color: #333;
}

.sunrise{
    background: #ffefa8;
    background: radial-gradient(circle, rgba(255, 239, 168, 0.78) 0%, rgba(32, 167, 250, 1) 100%);
}

.sunset{
    background: #0ac2ff;
    background: radial-gradient(circle, rgba(10, 194, 255, 1) 0%, rgba(255, 170, 59, 0.78) 100%);
}

.hourly-forecast-cards, .daily-forecast-cards{
    background: #2065d4;
    background: -webkit-linear-gradient(18deg, rgba(32, 101, 212, 1) 0%, rgba(26, 123, 156, 0.75) 35%, rgba(0, 204, 255, 1) 100%);
    background: -moz-linear-gradient(18deg, rgba(32, 101, 212, 1) 0%, rgba(26, 123, 156, 0.75) 35%, rgba(0, 204, 255, 1) 100%);
    background: linear-gradient(18deg, rgba(32, 101, 212, 1) 0%, rgba(26, 123, 156, 0.75) 35%, rgba(0, 204, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2065D4", endColorstr="#00CCFF", GradientType=0);
    border-radius: 15px;
}

.hourly-forecast-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    max-height: 320px;
    overflow-y: scroll;
}

.hourly-forecast-card{
    display: grid;
    grid-template-columns: 12vw 5vw 12vw;
    align-items: center;
    padding: 1.2%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hourly-forecast-card svg{
    width: 50px;
    height: 50px;
}

.hourly-forecast-card > .forecast-time, .daily-forecast-card > span, .temp-range > .day-name{
    font-family: 'Audiowide', sans-serif;
    color: rgb(0, 28, 88);
}

.weather-sidebar h2{
    font-family: "Audiowide", sans-serif;
    color: #0d1247;
}

.daily-forecast-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
    padding: 2.5%;
}

.daily-forecast-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-radius: 15px;
    gap: 8px;
    background: #4f82e0;
    background: linear-gradient(202deg, rgba(79, 130, 224, 1) 0%, rgba(44, 181, 199, 0.75) 50%, rgb(12, 81, 168) 100%);
}

.temp-range{
    display: flex;
    gap: 15px;
}

.temp-high, .temp-low, .forecast-temp{
    color: #0d1247;
    font-family: "Sixtyfour", sans-serif;
    font-style: italic;
}